<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Greet {{.name}}</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <h1>Hello {{.name}}</h1>
</body>

</html>
